$def with()
<html>
<head>
    <title>图片搜索</title>
    <style>
        body
        {
            text-align:center;
        }

        h2 a:visited
        {
            color:#1b9336;
        }
    </style>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>

    <span style="font-size:30px;font-weight:bold;color:#1b9336;">豆瓣</span><span style="color:#1b9336"> d</span><span style="color:#0092c8">o</span><span style="color:#ffad68">u</span><span style="color:#1b9336">b</span><span style="color:#0092c8">a</span><span style="color:#ffad68">n</span>
    <h2><a href="/">网页</a> 图片</h2>
    <form action="/p" method="GET">
                <input id="keyword" name="keyword" type="text" placeholder="Find something">
                <button id="Search" name="Search">Search</button>
    </form>
</body>