
/* 全局控制 */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend{ margin: 0; padding: 0; border: 0; outline: 0;  font-size: 100%; vertical-align: baseline; background: transparent; }  

body { line-height:1; }  
ol, ul { list-style:none; }  
blockquote, q { quotes:none; }  
blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }  
img { vertical-align:middle; }

address,caption,cite,code,dfn,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}

/* remember to define focus styles! */ 
:focus { outline:0; }  

    
/* remember to highlight inserts somehow! */ 
ins { text-decoration:none; }  
del { text-decoration:line-through; }  
    

/* tables still need 'cellspacing="0"' in the markup */ 
table { border-collapse:collapse; border-spacing:0; } 


/* 左右悬浮 */
.left {float:left;}
.right {float:right;}


/* 清除悬浮 */
.clear { clear:both; background:none!important; } /* 用于清除背景图 */
.clearBgColor { clear:both; visibility:hidden; height:1px; font-size:1px; margin:-1px; } /* 用于清除背景色 */


/* 居中 */
.auto,.auto ul { margin-right:auto; margin-left:auto; }


/* 文本对齐 */
.txtLeft {text-align:left;}
.txtCenter {text-align:center;}
.txtRight {text-align:right;}


/* 文字尺寸 */
.f12 {font-size:12px;}
.f14 {font-size:14px;}
.f16 {font-size:16px;}
.f18 {font-size:18px;}
.f20 {font-size:20px;}
.f22 {font-size:22px;}
.f24 {font-size:24px;}
.f26 {font-size:26px;}
.f28 {font-size:28px;}


/* 文字颜色 */
.red,.red a {color:#FE1200;}				         /* 红色 */
.red2,.red2 a {color:#dd0202;}                       /* 暗红 */
.darkGray,.darkGray a {color:#424242;}			     /* 深灰 */
.tintGray,.tintGray a {color:#B7B7B7;}			     /* 浅灰 */
.generalGray,.generalGray a {color:#565656;}		 /* 中灰 */
.black,.black a {color:#000;}				         /* 黑色 */
.blue,.blue a {color:#00f;}				             /* 蓝色 */
.white,.white a {color:#fff;}				         /* 白色 */
.purple,.purple a {color:#606;}				         /* 紫色 */
.blue_hui,.blue_hui a {color:#5681ac;}               /* 蓝灰 */
.greenGray,.greenGray a {color:#024e59;}             /* 绿灰 */
.orange,.orange a {color:#ff5500;}                   /* 橘红 */


/* 文字加粗 */
.fb {font-weight:bold;}


/* 下划线 */
.underline,.underline a {text-decoration:underline;}








