/* CSS Document */
body{ background:#eee;}
a{ text-decoration:none; outline:none;}
a:hover{ text-decoration:underline;}
#container{ margin:0px auto; width:948px;zoom:1; overflow:hidden; background:#eee; padding:7px;}
/*header开始处*/ 
#header{ padding-left:15px;background:#FFFFFF; zoom:1; overflow:hidden;}
#logo{ width:205px;float:left; background:url(../images/english_index_logo.png) no-repeat top left; height:77px;}
#logo a{ width:205px; height:77px;cursor:pointer; display:block;}

#header_mid{ width:430px; float:left; overflow:hidden; display:inline; color:#454545; }
#header_mid h1{ font-size:26px; letter-spacing:1px; padding-top:16px; line-height:35px; height:35px;font-weight:normal; padding-top:15px;}
#header_mid p{font-size:12px; letter-spacing:0px; margin-top:5px;}

#header_r{ width:295px; float:left; display:inline; padding-top:50px;}
#header_r ul{ font-size:12px; color:#000000;}
#header_r li{ float:left; padding-right:6px; line-height:18px; height:18px;}
#header_r li a{ text-decoration:none; outline:none; color:#000000;}
#header_r li a:hover{ text-decoration:underline;}
#header_r li.set_border{ border:solid 1px #aaa; width:136px; padding-right:0px; margin-top:-3px;}
.txt{ background:url(../images/english_index_search.png) no-repeat top left; width:90px; line-height:16px; height:16px; margin-left:2px; padding-left:20px;border:none;}
.btn{ width:19px; display:none;}
/*nav开始处*/
#nav{ clear:both; margin-top:10px; background:#FFFFFF; zoom:1;overflow:hidden; border-bottom:1px #ccc solid; padding-bottom:6px; }
#nav ul{ font-size:12px;}
#nav li{ float:left; margin:6px 0px; margin-bottom:0px; padding-left:5px; line-height:28px; height:28px; text-align:center;text-transform:capitalize; font-weight:bold; }
#nav li a{ display:inline-block; background:#eee;padding:0 31px;height:28px; color:#6c1b78; }
#nav li a:hover{ background:#82318e; color:#FFFFFF;  text-decoration:none;}

/*content开始处*/
#content{ clear:both; background:#52377c; zoom:1; overflow:hidden; border:solid 1px #3b1c6a; padding:6px; padding-right:0px; padding-bottom:0px;}
#left{ float:left; width:598px;}
#left img{ border:solid 2px #000000;}

#right{float:left; width:342px; display:inline; background:#462773;}
.right_box1{ padding-top:10px; height:323px; background:#52377c; overflow:hidden;}
.right_box1 h3{ font-size:16px; letter-spacing:1px; line-height:25px; height:25px; padding-left:18px; font-weight:normal; margin-bottom:10px;}
.right_box1 h3 a{  color:#ffba64;}
.right_box1 ul{ padding-left:18px; font-size:12px;}
.right_box1 li{ background:url(../images/english_index_dot.png) no-repeat 0px 8px; line-height:22px;padding-left:17px; zoom:1; overflow:hidden; padding-right:10px;}
.right_box1 li a{ color:#c5bcd9;}
.right_box1 li a:hover{ color:#c5bcd9;}

.right_box2{ background:#462773; zoom:1; overflow:hidden; position:relative; height:123px;}
.right_box2 ul{ padding-left:0px; font-size:12px;padding-top:13px; padding-bottom:27px;}
.right_box2 li{ background:url(../images/english_index_smallDot.png) no-repeat 14px 10px; line-height:21px; height:21px; zoom:1; overflow:hidden; padding-left:20px;}
.right_box2 li a{ color:#ffd098;}
.right_box2 li a:hover{ color:#ffd098;}
.right_box2 img{ position:absolute; right:3px; bottom:3px;}

/*footer开始处*/
#footer{ line-height:30px; font-size:12px;text-align:left; color:#9e9e9e; padding-left:6px; width:960px;margin:0px auto;}
#footer p.copy{ text-align:center; width:960px;}



/*1-4页面*/
#s_content{ background:#52377c url(../images/english_left_bg.jpg) no-repeat bottom left;border:1px #ccc solid; border-top:none;zoom:1; overflow:hidden; padding-bottom:1px;  }

#s2_right_con{padding:5px 45px 120px 0px; zoom:1;overflow:hidden; background:#FFFFFF;}
#s2_right_con h1{ line-height:30px; height:30px; color:#2c436f; font-size:25px; font-weight:normal; letter-spacing:1px;padding-top:10px;}
#s2_right_con img{ float:left; width:147px; height:188px; padding:2px; border-top:none; border-left:solid 1px #f0f0f0; border-right:solid 1px #f0f0f0; border-bottom:solid 1px #a2a2a2; margin:15px 45px; margin-right:25px;} 
#s2_right_con p{ background:#FFFFFF; line-height:21px; padding-left:45px;color:#676767; }
#s2_right_con p span{ font-size:14px; padding-left:10px; color:#000099;}
#s2_right_con ul{ margin-top:10px;}
#s2_right_con li{ line-height:23px; height:23px;color:#2c436f;}
#s2_right_con li a{ color:#2c436f;}
#s2_right_con h4{ line-height:24px; height:24px; background:#ededef;  clear:both; margin-left:45px; font-size:12px; font-weight:bold; padding-left:10px; margin-top:10px; margin-bottom:10px;}
#s2_right_con p.intr{ line-height:18px; color:#2c436f; padding-bottom:15px;}
#s2_right_con p.intr span{ display:block; color:#2c436f;}

#s_con_left{ clear:both; width:210px; float:left; zoom:1; overflow:hidden;}
#s_con_left h3{ font-size:14px;color:#eee; line-height:28px; height:28px; padding-left:10px; background:#9f86a4;border-bottom:2px #40216d solid; }
#s_con_left dl{ font-size:12px;  color:#fff; margin-top:5px; }
#s_con_left dl a{ color:#FFFFFF; line-height:24px; height:24px;}
#s_con_left dt{ background:url(../images/english_left_icon.gif) no-repeat 15px 9px;padding-left:26px;line-height:24px; height:24px;}
#s_con_left dd{ padding-left:44px; line-height:24px; height:24px;}

#s_con_right{ width:735px; float:left; zoom:1; overflow:hidden; background:#FFFFFF; border-left:1px #40216d solid; font-size:12px; }
#s_con_right p{ font-size:12px; line-height:26px; }
#s_con_right p span.bg{ background:url(../images/english_icon.gif) no-repeat 5px -1px; padding-left:20px;}
.border{ border-bottom:dashed 1px #CCCCCC; margin:0px 8px;}

