/*头部*/
.ju-seller-header {
  overflow: hidden;
  position: relative;
  height: 108px;
  border-top: 1px solid #AAA0A2;
  clear: both;
}
.ju-seller-header .seller-logo {
  width: 990px;
  margin: 0 auto;
  height: 49px;
  padding-top: 20px;
}
/* 顶部背景块 */
.wrapper {
  *zoom: 1;
  position: relative;
  background: none !important;
}
.wrapper #site-nav {
  background: url(//gtd.alicdn.com/tps/i1/T1Tf62XiBaXXa.0QZ.-1-85.png) left top repeat-x;
  _background: url(//gtd.alicdn.com/tps/i1/T1HW20XiJXXXa.0QZ.-1-85.png) left top repeat-x;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  *border-bottom: 1px solid #a88d91;
  position: relative;
  word-wrap: normal;
  z-index: 100;
  word-break: normal;
}
.wrapper #site-nav .login-info .link-lg {
  color: #c7223d;
}
.wrapper #site-nav-bd {
  width: 990px;
}
.wrapper #site-nav .quick-menu .mobile {
  padding-left: 25px;
  background: url(//gtd.alicdn.com/tps/i4/T1L3HVXaNpXXXBnfHb-24-19.gif) left 3px no-repeat;
  *background: url(//gtd.alicdn.com/tps/i4/T1ij_1XgtdXXXBnfHb-24-19.gif) left 1px no-repeat;
}
.wrapper #site-nav .quick-menu .hp-service a {
  padding-left: 17px;
  background: url(//gtd.alicdn.com/tps/i2/T1Z0rZXltbXXcBqPE.-13-14.png) left center no-repeat;
}
.wrapper #site-nav .quick-menu .cart a {
  border: 1px solid transparent;
  _border: 1px solid #f2f2f2;
}
.wrapper #site-nav .quick-menu .cart s {
  background: url(//gtd.alicdn.com/tps/i1/T14DfWXedkXXXt8j_X-16-17.png) left center no-repeat;
  width: 16px;
  height: 17px;
}
.wrapper #site-nav .login-info .user .vip-head b {
  border-color: #666 transparent transparent transparent;
  _border-color: #666 #f2f2f2 #f2f2f2 #f2f2f2;
}
.wrapper #site-nav .login-info .user .vip-head {
  border: 1px solid transparent;
  _border: 1px solid #f2f2f2;
}
.wrapper .ju-entrance {
  background: url("//gtd.alicdn.com/tps/i2/T1CCRNXmRFXXXXXXXX.png") 100% 6px no-repeat transparent;
  float: left;
  margin-right: 10px;
  padding: 0px 10px 0px 0px;
}
.wrapper #site-nav .seller-center .menu-bd {
  width: 92px;
}
.wrapper #site-nav .quick-menu .mini-cart a .mini-cart-line {
  border-bottom: 1px solid transparent;
  _border-bottom: 1px solid #f2f2f2;
}
.wrapper #site-nav .ju-entrance a {
  color: #c0203b;
  font-family: Arial;
  font-weight: bold;
}
.wrapper #site-nav a:hover,
.wrapper #site-nav .quick-menu #mc-menu-hd:hover,
.wrapper #site-nav .quick-menu .mini-cart #mc-menu-hd .mc-count {
  color: #c0203b;
}
.wrapper #site-nav .quick-menu .mini-cart {
  padding-left: 9px;
}
.wrapper .bg-main,
.wrapper .bg-repeat {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.wrapper #site-nav .login-info .user-hover .vip-head {
  border: 1px solid #BFBFBF;
  background: white;
  border-bottom: 0;
  padding-left: 9px;
  margin-left: -11px;
}
.wrapper #site-nav .login-info a.user-nick {
  color: #c7223d;
}
.wrapper .bg-main {
  background: url(//gtd.alicdn.com/tps/i3/T1EcrZXa8fXXcdE1fR-1400-105.jpg) center top no-repeat;
  z-index: 5;
}
.wrapper .bg-repeat {
  background: url(//gtd.alicdn.com/tps/i4/T1ukjZXnxaXXanwO_G-34-105.png) left top repeat-x;
  z-index: 3;
}
.wrapper #site-nav .menu-hd b {
  border-color: #666 transparent transparent transparent;
  _border-color: #666 #f2f2f2 #f2f2f2 #f2f2f2;
}
#site-nav .quick-menu li {
  float: left;
  margin-left: -1px;
  padding: 1px 10px 0 10px;
  background: transparent url(//gtd.alicdn.com/tps/i2/T1CCRNXmRFXXXXXXXX.png) no-repeat right 6px;
}
#site-nav .quick-menu .cart a {
  display: block;
  width: 36px;
  color: #F50;
  border: 1px solid #f5f5f5;
  height: 17px;
  line-height: 17px;
  margin-top: 3px;
  *margin-top: 2px;
  padding-left: 25px;
  padding-right: 6px;
  padding-top: 0\9;
}
#site-nav .quick-menu .cart s {
  background: url(//gtd.alicdn.com/tps/i2/T1Fz14XcBXXXXXXXXX-20-40.png) no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 2px;
}
.wrapper #content {
  z-index: 10;
}
.wrapper #page {
  z-index: 10;
  background: none;
}
.ju-seller-header .seller-nav {
  position: relative;
  overflow: visible;
}
.ju-seller-header .seller-nav ul {
  width: 990px;
  margin: 0 auto;
}
.ju-seller-header .seller-nav ul li {
  display: inline-block;
  float: left;
  position: relative;
}
.ju-seller-header .seller-nav a,
.ju-seller-header .seller-nav a:visited {
  display: inline-block;
  width: 129px;
  height: 41px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  font-weight: normal;
}
.ju-seller-header .seller-nav ul li.current a {
  cursor: default;
}
/* 新版的，新样式的头 */
.ju-seller-header .seller-nav {
  height: 37px;
  width: 100%;
  background-color: #f61d4b;
}
.ju-seller-header .seller-nav ul li {
  float: left;
  margin-right: 7px;
}
.ju-seller-header .seller-nav ul li:last-child {
  margin-right: 0;
}
.ju-seller-header .seller-nav ul li.current a,
.ju-seller-header .seller-nav ul li.current a:visited,
.ju-seller-header .seller-nav ul li.current a:hover,
.ju-seller-header .seller-nav li a:hover {
  color: #FFF !important;
  text-shadow: none;
  top: 0;
  height: 37px;
  line-height: 37px;
  background-color: #cf2b38 !important;
  font-weight: bold;
}
/**
 * a链接样式
 * @type {[type]}
 */
.ju-seller-header .seller-nav a,
.ju-seller-header .seller-nav a:visited {
  width: auto;
  display: inline-block;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  padding: 0 30px;
  height: 37px;
  line-height: 37px;
}
.ju-seller-header .seller-nav li:last-child a {
  background-color: #FBE1E1;
  color: #f61d4b;
}
/**
 * logo
 */
#site-nav {
  font-size: 12px;
}
#site-nav p {
  margin-bottom: 0;
}
.wrapper #site-nav-bd,
.ju-seller-header .seller-logo {
  width: 990px;
}
.ju-seller-header .seller-logo .qrcode {
  float: right;
  position: relative;
  top: -12px;
}
.wrapper .bg-main {
  background: none;
}
.wrapper .bg-repeat {
  background: #FFF;
}
.wrapper #site-nav {
  background: #f2f2f2;
}
.ju-seller-header {
  border-top: none;
  height: 106px;
}
