@charset "utf-8";
/***************
the Academy of Peking University
Author:wallace
***************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, figure, figcaption, code, del, dfn, em, image, q, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, tf, tr, th {
	border: 0px;
	padding: 0px;
	/*font-size: 100%;*/
	margin: 0px;
	font-family: "Arial",'Microsoft Yahei',"Lucida Grande", "Tahoma", "Helvetica", "sans-serif";
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight:normal;
}
body {
	color: #565656;
	line-height: 20px;
	font-size: 12px;
	font-family:"Arial",'Microsoft Yahei',"Lucida Grande", "Tahoma", "Helvetica", "sans-serif"
	margin: 0px;
}
input, textarea, select {
	font-family: "Arial",'Microsoft Yahei',"Lucida Grande", "Tahoma", "Helvetica", "sans-serif"
	background-color: #FFFFFF;
	font-size:12px;
	outline:none;
}
.content {
}
/* add by zb 20141203 */
html{overflow-x: hidden;}
img {
	border: 0px;
	vertical-align:bottom;
	-ms-interpolation-mode: bicubic;
}
a, a:link {
	text-decoration: none;
}
a:hover {
	text-decoration:none;
	color:#8c0000;
}
ul, li {
	list-style-type:none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clearfix:after {
	display:block;
	content:'';
	clear:both;
	height:0px;
	visibility: hidden;
}
.yahei {
	font-family:"Microsoft Yahei", Arial;
}
.yaheired {
	font-family:"Microsoft Yahei", Arial;
	font-size:1.1em;
	color:#9b0000;
}
h1, h2, h3, h4 {
	font-family:"Microsoft Yahei", Arial;
}
.relative {
	position:relative;
}
.clearfix {
*display:inline-block;
*zoom:1;
*vertical-align:top;
}
/* Add by PKU zb 2014.9.1 */
.clearfix1 {
*display:inline-block;
*zoom:1;
*vertical-align:top;
line-height:35px
}
.clear {
	clear:both;
	overflow:hidden;
	height:0;
}
.clear_f {
	clear:both;
	overflow:hidden;
}
 *::selection {
 background:#8c0000;
 color: #FFFFFF;
 text-shadow: none;
}
 *::-moz-selection {
 color: #8c0000;
 text-shadow: none;
}
.ie6 {
	text-align:center;
	font-size:14px;
	line-height:60px;
}
.ie6 span {
	float:right;
	margin-right:30px;
	cursor:pointer;
}
.blankspace {
	height:1.5em;
	overflow:hidden;
	margin:0;
	padding:0;
	clear:both;
}
/*comm used header,content,footer*/

.mainWrap {
	width:1200px;
	margin:auto;
}
.header .topWrap {
	padding:0;
        /* background:#7f0101 url(../img/pkucloud1h100.png) no-repeat top right; LHY */
        background:#8f000b url(../img/pkucloud1h100.png) no-repeat top right;
        border-top:0px solid #c40000;
        border-bottom:0px solid #600000;
}
.header .topWrap .mainWrap{
        height:100px;
}
.header .logo {
	float:left;
	_display:inline;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:15px;
}
/* zhangyang add   */
.header .logo img{
      width:213px;
}
/* zhangyang add   */

.header .subnavLeft {
	padding-left:10px;
}
.header .search {
	float:right;
	_display:inline;
	margin-top:4px;
	padding-right:10px;
}
.header .search .inp {
	border:0;
	height:16px;
	width:130px;
	/* border:1px solid #821514;*/
	margin-top:2px;
	padding:3px 4px 3px 4px;
	float:left;
	_display:inline;
	background:#AC0000;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.header .search .inp:hover {
	background:#fff;
	opacity:1
}
.header .search .btn {
	height:22px;
	padding:0 8px;
 *padding:0 8px 0 12px;
	line-height:21px;
	text-align:center;
	border:0;
	float:left;
	font-size:12px;
	_display:inline;
	color:#fff;
	cursor:pointer;
 *background:url(search_normal.png) 0 3px no-repeat;
}
.header .search .btn:hover {
 *background:url(search_normal.png) 0 3px no-repeat;
}
.header .subNav {
	/* background:#5e0000; LHY */
	background:#700005;
	/* background:-moz-linear-gradient(top, #8c0000 0%, #820000 100%);
	 FF3.6+ */
	/* background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #8c0000), color-stop(100%, #820000));
	 Chrome,Safari4+ */
	/* background:-webkit-linear-gradient(top, #8c0000 0%, #820000 100%);
	 Chrome10+,Safari5.1+ */
	/* background:-o-linear-gradient(top, #8c0000 0%, #820000 100%);
	 Opera 11.10+ */
	/* background:-ms-linear-gradient(top, #8c0000 0%, #820000 100%);
	 IE10+ */
	/*background:linear-gradient(to bottom, #8c0000 0%, #820000 100%);
	 W3C */
	/* filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c0000', endColorstr='#820000', GradientType=0 );
	 IE6-8 */
	/*border-bottom:1px solid #600000; */
}
.header .subNav .menu {
	display:none;
}
.header .subNav li {
	float:left;
	_display:inline;
	padding:6px 2px 6px 3px;
	position:relative;
	z-index:999;
	zoom:1;
}
.header .subNav li a {
	display:block;
/* ZB	font-size:12px; */
	font-size:14px;
	color:#e5e3e3;
	padding:0 5px;
	/*text-shadow:0px 2px 1px #600000;*/
	filter:dropshadow(color=#600000, offx=0, offy=2);
}
.header .subNav li a:hover, .header .subNav li a:focus, .header .subNav li a.hover {
	color:#fff;
}
.header .subNav li.current {
	background:#fff;
}
.header .subNav li.current a {
	color:#444;
	text-shadow:0px 2px 1px #f3f3f3;
	filter:dropshadow(color=#f3f3f3, offx=0, offy=2);
}
.header .subNavRight {
	float:right!important;
}
.header .nav {
	/* float:right;
        _display:inline;
        margin-top:25px;*/
        background-color:#fff;
}
.header .nav #nav{
        /* text-align:center; */
        margin:auto;
        width:1024px;
}
.header .nav .menu {
	display:none;
}
.header .nav li {
	float:left;
	_display:inline;
	/*padding:0 32px 0 33px;
	+padding:0 31px 0 32px;*/
   padding:0 11px 0 11px;
	+padding:0 10px 0 10px;
	z-index:999;
	zoom:1;
}
.header .nav li.nav_first {
        padding-left:0px;
}
.header .nav li.nav_last {
        padding-right:0px;
} 
.header .nav li a.current {
/* PKU	background: url(nav_cur.png) bottom repeat-x */
	background: url(../img/nav_cur_red.png) bottom repeat-x
}
.header .nav li a {
	display:block;
	line-height:43px;
/* ZB	font-size:15px; */
	font-size:16px;
/* PKU	color:#fff; */
	color:#333;
	/* padding:0 12px;
 *padding:0 13px; */
  text-align:center;
  width:125px;
 -webkit-transition-duration:.3s;
-moz-transition-duration:.3s;
-o-transition-duration:.3s;
transition-duration:.3s;
	-ms-transition-duration:0s;
}
.header .nav li a:hover, .header .nav li a.hover {
/* PKU
	color:#565656;
	background:#fff;
*/
   color:#fff;
	background:#8f000b; 
}
.header .nav li a i {
	padding:0;
 *margin:0 -5px 0 5px;
}
.header .nav li a i:before {
	margin-right:-4px;
}
.header .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
#nav .minfoWrap {
	position:absolute;
	background:#fff;
/* PKU */
	border-top: 0px solid #8c0000;
/* PKU 	top:132px; */
/* PKU
	top:131px;
*/
	left:0%;
	width:100%;
	z-index:2;
	padding:2em 0;
	display:none;
	/* -webkit-box-shadow:0 6px 12px #838383;
	-moz-box-shadow:0 6px 12px #838383;
	box-shadow:0 10px 20px rgba(0, 0, 0, 0.63); */
}
#nav .minfoWrap_inner {
	width:1200px;
	background:#fff;
	margin:0 auto;
}
#nav ul.last {
	right:2px;
}
#nav ul li {
	float:none;
	display:block;
	padding:0;
	margin:0;
}
#nav ul li a {
	background:#fff;
	line-height:24px;
	font-size:14px;
	color:#565656;
/* PKU	padding:0 0 0 20px; */
	padding:0 0 0 0px;
}
#nav ul li a:hover {
	color:#8c0000;
}
.nav01 {
	width:160px
}
/* PKU */
.nav02 {
	width:300px;
	font-size:14px;
	color:#999;
	line-height:24px;
}
.nav03 {
	width:240px;
	font-size:14px;
	color:#999;
	margin-right:50px;
	line-height:24px;
}
/* PKU */
.nav04 {
	width:200px;
}
/* PKU */
.nav05 {
	width:150px;
	font-size:14px;
	color:#999;
	margin-right:50px;
	line-height:24px;
}

.readmore {
//	text-transform: uppercase;
	font-size: 15px!important;
	box-shadow: none;
	color: #8c0000!important;
	display:inline !important;
	-webkit-transition: 400ms !important;
	-moz-transition: 400ms !important;
	-o-transition: 400ms !important;
	transition: 400ms !important;
}
.readmore:hover {
	text-shadow: none;
	box-shadow: none !important;
	color:#333!important;
}
.readmore1 {
//	text-transform: uppercase;
	font-size: 15px!important;
	box-shadow: none;
	color: #000000!important;
	display:inline !important;
	-webkit-transition: 400ms !important;
	-moz-transition: 400ms !important;
	-o-transition: 400ms !important;
	transition: 400ms !important;
}
.readmore1:hover {
	text-shadow: none;
	box-shadow: none !important;
	color:#8c0000!important;
}
.readmore2 {
//	text-transform: uppercase;
	font-size: 17px!important;
	box-shadow: none;
	color: #8c0000!important;
	display:inline !important;
	-webkit-transition: 400ms !important;
	-moz-transition: 400ms !important;
	-o-transition: 400ms !important;
	transition: 400ms !important;
}
.readmore2:hover {
	text-shadow: none;
	box-shadow: none !important;
	color:#333!important;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.content {
}
.content .thuimg {
	text-align:center;
}
.content .thuimg .thuimgWrap {
	min-width:1200px;
	overflow:hidden;
	background:url(../images/loading.gif) no-repeat center center;
}
.footer .footWrap {
	background:#ededed;
	padding:40px 0;
	border-top: #dfdfdf 1px solid;
}
.footer .footWrap li {
	width:150px;
	float:left;
	_display:inline;
}
.footer .footWrap h4 {
	padding-bottom:8px;
}
.footer .footWrap h4 a {
	font-size:15px;
	color:#333;
}
.footer .footWrap h4 a:hover {
	color:#8c0000
}
.footer .footWrap a {
	color:#787878;
	display:block;
	line-height:24px;
	text-align:center;
}
.footer .footWrap a:hover {
	color:#8c0000;
}
.footer .copyrights {
	color:#f8f8f8;
	padding:15px 0;
	line-height:22px;
	background:#821514;
	border-top:#8c0000;
}
.footer .copyrights .info {
	float:left;
}
.footer .copyrights .info span {
	padding-right:24px;
}
.footer .copyrights .icp {
	float:right;
}
.footer .copyrights .copy {
	display:block;
}
/*plugin*/

._plugMasklayer {
	background: none repeat scroll 0 0 #FFFFFF;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.8;
	filter:alpha(opacity=80);
	_position: absolute;
	position:fixed;
	top: 0;
	width: 100%;
	z-index: 9998;
	bottom:0;
}
._plugLayer {
	background: none repeat scroll 0 0 #FFFFFF;
	display: none;
	left: 50%;
	top: 50%;
	border:1px solid #609;
	_position: absolute;
	position:fixed;
	z-index: 9999;
}
/*action*/
.ssubNav {
	display:none;
}
 @media screen and (max-width:1024px) {
 body {
/* overflow-x:hidden;*/
}
 .mainWrap {
 width:960px;
 margin:0 auto;
}
.header .nav #nav{
	width:795px;
}
.header .nav #nav .minfoWrap .minfoWrap_inner div.fl{
	display:none;
}
 .header .nav li {
  /*padding: 0 24px 0 24px;*/
  padding:0 11px 0 11px;
	+padding:0 10px 0 10px;
}
 .header .nav li a {
 font-size:13px;
 /*padding:0 9px;*/
 width:90px;
}
 #nav ul {
 width:100px;
}

 #nav ul.fl{
 width:160px;
}
 #nav ul.fl a {
 width:150px;
}
 .content {
/* padding-bottom: 100px;*/
}
 .footer .footWrap li {
 width:120px;
 overflow:hidden;
}
.header .topWrap {
height:auto;
}
}
 @media screen and (max-width:800px) {
 body {
line-height: 18px;
}
 .mainWrap {
 width: 760px;
}
/* PKU
 .header .nav li {
 padding:5px 2px 5px 2px;
}
 .header .nav li a {
 font-size:12px;
 padding:0 9px;
}
 #nav ul {
 width:150px;
}
 #nav ul li a {
 font-size:12px;
 line-height:32px;
 padding: 0 0 0 14px;
}
*/
.mainWrap02 {
 position:relative;
 display:none;
 background:#444;
}
#nav .minfoWrap {
 left:50%;
 margin-left:-380px;
 width:760px;
}
 .header .topWrap {
 position:relative;
}
.header .logo {
 margin:auto;
 padding-left:0px;
}
.header .search {
 float:none;
 position:absolute;
 width:100%;
 top:0px;
 margin-top:10px;
}
.header .search .ext {
 float:right;
 padding:4px 30px 10px 0;
}
 .header .search .ext a {
 color:#fff;
}
 .header .search .inp {
 border:0;
 margin-left:20px;
 height:14px;
 width:130px;
 background:#fff;
}
 .header .search .btn {
 height:20px;
 line-height:20px;
 font-size:12px;
}
 .subNav .ssubNav {
 display:block;
 line-height:35px;
 line-height:32px;   /*   ZB   */
 font-size:14px;
 padding:0 20px;
 cursor:pointer;
 color:#fff;
 background:#5e0000;   /*  ZB   */
}
/** 20170914
 *  OUYANG
 */
/*
.header .subnavLeft {
padding-top:30px;
}
.header .subNav li {
float:none;
border:none;
}*/
/** END of 20170914*/
.header .subNav li a {
padding-left:7px;
font-size:12px;
color:#f5f5f5;
}
/** 20170922  OUYANG
 */
/* .header .subNavRight li a {
padding-left:17px;
}*/
/** END of 20170922*/
/** 20170914
 *  OUYANG
 */
/*.header .subNavRight {
float:none!important;
}*/
/** END of 20170914*/
.minfoWrap {
display:none!important;
}
 .header .topWrap {
 height: auto;
 /* padding:20px 0 0;*/
}
 .header .nav {
 background:#efefef;
 border:0;
 /* margin-top:20px;*/
}
.header .nav #nav{
	width:640px;
	text-align:left;
}
 /*.header .nav .menu {
 display:block;
line-height:44px;
 line-height:38px; 
 font-size:18px;
 padding:0 20px;
 cursor:pointer;
 color:#22132d;
}
 .header .nav .menu .menuicon {
 float:right;
 color:#22132d;
}
.header .nav #nav{
        width:100%;
        text-align:left;
 }
 .header .nav ul {
 display:none;
}
 .header .nav li {
 float:none;
 padding:0;
 border-top:1px solid #ddd;
 background:#fff;
 overflow:hidden;
}*/
.header .nav li a {
 font-size:12px;
 line-height:30px;
 color:#333;
 width:72px;
}
/* PKU End */
 .content {
 /*padding-bottom: 100px;*/
}
 .footer .footWrap li {
 width:190px;
 height:200px;
 overflow:hidden;
}
 .footer .copyrights {
 text-align:center;
}
 .footer .copyrights .info {
 float:none;
 display:block;
}
 .footer .copyrights .icp {
 float:none;
 display:block;
}
.header .logo {
float:none;
display:block;
width:209px;
height:58px;
margin:0 auto;
padding-bottom:0;
}
/*.header .nav {
float:none;
}*/
.header .topWrap {
height:auto;
}
.minfoWrap {
display:none!important;
}
}
 @media screen and (max-width:640px) {
 .mainWrap {
 width: 100%;
}
.mainWrap02 {
position:relative;
display:none;
background:#444;
}
 .header .topWrap {
 position:relative;
}
 .header .logo {
 margin:auto;
 padding-left:0px;
}
 .header .search {
 float:none;
 position:absolute;
 width:100%;
 top:0px;
 margin-top:10px;
}
 .header .search .ext {
 float:right;
 padding:4px 30px 10px 0;
}
 .header .search .ext a {
 color:#fff;
}
 .header .search .inp {
 border:0;
 margin-left:20px;
 height:14px;
 width:130px;
}
 .header .search .btn {
 height:20px;
 line-height:20px;
 font-size:12px;
}
 .header .topWrap {
 height: auto;
 /* padding:20px 0 0;*/
}
 .header .nav {
 background:#efefef;
 border:0;
/* margin-top:20px;*/
}
 .header .nav .menu {
 display:block;
 line-height:44px;
 line-height:38px;   /*   ZB   */
 font-size:18px;
 padding:0 20px;
 cursor:pointer;
 color:#22132d;
}
 .header .nav .menu .menuicon {
 float:right;
 color:#22132d;
}
 .header .nav ul {
 display:none;
}
 .header .nav li {
 float:none;
 padding:0;
 border-top:1px solid #ddd;
 background:#fff;
 overflow:hidden;
}
 .header .nav li a {
 font-size:15px;
 text-indent:20px;
 color:#000;
}
 .header .nav li a .thuicon-angle-down {
 display:none;
}
 .content {
 padding-bottom: 50px;
}
 .footer .footWrap {
 padding:14px 0;
}
 .footer .footWrap li {
 width:25%;
 height:auto;
}
 .footer .footWrap a {
 display:none;
}
 .footer .footWrap h4 a {
 display:block;
 font-size:12px;
 line-height:30px;
}
 .footer .footWrap h4 {
 padding-bottom:0;
}
 .footer .copyrights {
 text-align:center;
}
 .footer .copyrights .info {
 float:none;
 display:block;
 padding:0 30px;
}
 .footer .copyrights .info span {
 display:block;
 padding:0;
}
 .footer .copyrights .icp {
 float:none;
 display:block;
}
.header .caret {
display:none;
}
.subNav .ssubNav {
 display:block;
/* PKU
 line-height:44px;
 PKU font-size:18px; */
 line-height:35px;
 line-height:32px;   /*   ZB   */

 font-size:14px;
 padding:0 20px;
 cursor:pointer;
 color:#fff;
 background:#5e0000;   /*  ZB   */
}
.header .subnavLeft {
padding-top:30px;
}
.header .subNav li {
float:none;
border:none;
}
.header .subNav li a {
padding-left:7px;
font-size:14px;
color:#f5f5f5;
}
.header .subNavRight li a {
padding-left:17px;
}
.header .subNavRight {
float:none!important;
}
.minfoWrap {
display:none!important;
}
}
@media screen and (max-width:480px) {
   .header .topWrap {
   	background-size:auto 70px;
   }
   .header .topWrap .mainWrap{
   	height:70px;
   }
   .header .logo {
   	padding-top:12px;
   	padding-bottom:12px;
      width:160px;
   }
   .header .logo img{
      width:160px;
    }
}
 @media screen and (max-width:360px) {
 .content {
 padding-bottom: 30px;
}
.minfoWrap {
display:none!important;
}
.header .topWrap {
   	background-size:auto 60px;
   }
   .header .topWrap .mainWrap{
   	height:60px;
   }
   .header .logo {
   	padding-top:10px;
   	padding-bottom:10px;
      width:140px;
   }
   .header .logo img{
      width:140px;
    }
}
 @media screen and (max-width:320px) {
 .header .topWrap {
   	background-size:auto 50px;
   }
   .header .topWrap .mainWrap{
   	height:50px;
   }
 .header .logo {
  margin:auto;
  padding-top:8px;
  padding-bottom:8px;
  width:120px;
}
 .header .logo img{
  width:120px;
}
 .header .search .inp {
 width:100px;
}
 .header .nav .menu {
 line-height:40px;
 font-size:16px;
}
.minfoWrap {
display:none!important;
}
}
.bgf5 {
	background:#f5f5f5;
}
.ml30 {
	margin-left:30px;
}
.ml20 {
	margin-left:20px;
}
.ml10 {
	margin-left:10px;
}
.mt15 {
	margin-top:15px;
}
.mt30 {
	margin-top:30px;
}
.mt10 {
	margin-top:10px;
}
.pt5 {
	padding-top:5px;
}
.mr150 {
	margin-right:150px;
}
.mr100 {
	margin-right:100px;
}
.mr80 {
	margin-right:80px;
}
.ml100 {
	margin-left:100px;
}
.ml130 {
	margin-left:130px;
}
.ml50 {
	margin-left:50px;
}
.mb30 {
	margin-bottom:30px;
}
.mb50 {
	margin-bottom:50px;
}
.red {
	color:#8c0000
}
.gray {
	color:#999;
}
