/* CSS Document */
a{ color:#333; text-decoration:none; outline:line;}
a:hover{ text-decoration:underline;}
#container{ margin:0px auto; border:solid 1px #666; zoom:1; overflow:hidden; font-family:"宋体"; width:960px; background:#743481; text-align:left;}  
 /*headerʽ*/
#header{height:110px;background: url(../images/jsjkxyjs_logo.jpg) no-repeat 11px 10px;}	
#logo{ float:left; display:inline; padding-left:280px; width:320px; text-align:left; color:#FFFFFF; padding-top:50px; letter-spacing:1px;}	
#logo h1{ font-size:26px;}
#logo h1 span{ display:block; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#fff; letter-spacing:0px; text-transform:capitalize; font-weight:normal;}
#search{ width:345px; float:left;padding-top:80px; color:#fff; background:url(../images/jsjkxyjs_search.jpg) no-repeat right bottom; margin-right:10px;}
#search p{ text-align:right; font-size:12px;}	
#search p a{ color:#fff; font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
#search p span a{ font-weight:normal; margin-top:2px; font-family:"宋体";}
.sch{ background:none; width:80px; margin-bottom:3px; margin-right:8px; line-height:16px; height:16px; border:none; font-size:12px;}
.btn{ background:none; border:none; margin-left:20px; cursor:pointer;}	
/*contentʽ*/		
#content{ margin:20px; margin-bottom:0px; margin-top:0px;border-top:solid 2px #fff;border-bottom:solid 2px #fff; padding-left:60px; background:url(../images/jsjkxyjs_bg.gif) no-repeat 235px -10px; padding-bottom:26px;}

/*20101204 PM UPDATE index.htm-leftmenu START*/
/*leftʽ*/
#left{ margin-top:20px; width:117px; float:left;}
#left li.nav_down{ background:url(../images/jsjkxyjs_nav_nav_down.jpg) no-repeat top left; line-height:19px; height:19px;width:97px;}	
/*left menu*/
.menu {float:left; width:97px;z-index:999;position:relative;height:1%;}
.menu ul li a, .menu ul li a:visited {display:block;text-decoration:none; color:#000;width:76px;height:26px;line-height:26px; text-align:center; color:#fff;background:#776678;overflow:hidden;}
.menu ul {padding:0; margin:0;list-style-type: none; }
.menu ul li {float:left; margin-right:1px;position:relative;}
.menu ul li ul {display: none;}
.menu ul li:hover a {color:#fff;}
.menu ul li:hover ul {display:block; position:absolute;top:0; left:96px; width:97px;}
.menu ul li:hover ul li ul {display: none;}
.menu ul li:hover ul li a {display:block; color:#fff;}
.menu ul li:hover ul li a:hover {color:#ccc;}
.menu ul li:hover ul li:hover ul {display:block;position:absolute; left:96px; top:0;}
.menu ul li a {overflow: hidden; white-space: nowrap; padding:0 10px;
-o-text-overflow: ellipsis;    /**//* for Opera */  
text-overflow: ellipsis;        /**//* for IE */ 
}
.menu ul li:after{ content: ""; } /**//* for Firefox */
/*left menu*/
/*20101204 PM UPDATE index.htm-leftmenu END*/


/*rightʽ*/	
#right{ float:right; display:inline; width:742px; margin-top:20px; margin-bottom:15px;}	

#big_img{ padding:12px; float:left; width:326px; zoom:1; overflow:hidden;}
#wenzi_list{ font-size:12px; zoom:1; overflow:hidden;}
#wenzi_list h3{ font-weight:bold;line-height:30px; height:30px; padding-left:10px; font-size:14px; margin-top:30px; color:#776678;}
#wenzi_list ul{ list-style-type:none; padding:5px 0px; clear:both;}
#wenzi_list li{ line-height:19px; padding-left:10px; background:#;clear:both; }
#wenzi_list li b{ float:right; padding-right:20px; font-weight:normal; font-family:Arial, Helvetica, sans-serif; color:#776678;}
#wenzi_list li a{ color:#776678; float:left;}
#wenzi_list li a:hover{ text-decoration:underline;}	

#news_list{width:674px; background:#F1F1F1; text-align:left; zoom:1; overflow:hidden;}																
#down_nav{ clear:both;  padding-left:428px; padding-bottom:13px; font-size:12px;}
#down_nav a{ width:115px; background:url(../images/down_nav_bg.gif) no-repeat top left; height:32px; display:block; float:left; line-height:32px; margin-right:10px; text-align:center; color:#fff;}
#qh_100y{ height:53px; margin-right:66px; margin-top:33px; text-align:right; }
#footer{ clear:both; color:#fff; font-size:12px; zoom:1; overflow:hidden;}
#footer p{ line-height:40px; height:40px; text-align:center; font-family:Arial, Helvetica, sans-serif;}		


/********************************2-2(1)ҳ***************************************/
#s_content{ background:url(../images/jsjkxyjs_s_left_down_bg.jpg) no-repeat bottom left;border-bottom:1px #fff solid; padding-bottom:1px; zoom:1; overflow:hidden; }



#second_nav{ position:relative; z-index:99; clear:both;background:url(../images/jsjkxyjs_s_nav_bg1.jpg) repeat-x top left;}
#second_nav ul{  height:32px; line-height:32px; }
#second_nav ul li { position:relative; float:left; font-size:14px; background:url(../images/jsjkxyjs_s_nav_bg2.jpg) no-repeat top right;text-align:center; display:inline; }
#second_nav li.no_bg{ background:none;}
#second_nav ul li a{ color:#e7e5d9; padding:0 20px;}

/* nav */
#second_nav ul ul { clear:both; position:absolute; left:0px; display:none; background:#CCC; }   
#second_nav table { position:absolute; top:0; left:0; }
#second_nav ul li:hover ul, 
#second_nav ul a:hover ul{ display:block; } 
#second_nav ul ul li { clear:both; text-align:left; width:120px; padding:0!important; background:none; }   

#second_nav ul ul li a{ display:block; overflow: hidden;-o-text-overflow: ellipsis;text-overflow:ellipsis;white-space: nowrap; height:24px; line-height:24px; color:#000; background:#FFF; border:none; filter:none; text-align:left; border-bottom:#CCC 1px dotted;
 filter:alpha(opacity=75); /* IE */ 
 -moz-opacity:0.7; /* Moz + FF */
 opacity: 0.7; padding:0 10px;
 } 
#second_nav ul ul li:after{ content: ""; } 
#second_nav ul ul li a:hover{ border:0; text-decoration:none; background:#CCC; border-bottom:#EEE 1px dotted;
}  


#s_con_left{ clear:both; width:210px; float:left; zoom:1; overflow:hidden; }
#s_con_left dl{ font-size:12px;  color:#c2b49a; }
#s_con_left dl a{ color:#FFFFFF; line-height:24px; height:24px;}
#s_con_left dt{ background:url(../images/jsjkxyjs_s_left_icon.png) no-repeat 15px 9px;padding-left:26px;line-height:24px; height:24px;}
#s_con_left dd{ padding-left:44px; line-height:24px; height:24px;}

#s_con_right{ width:750px; float:left; zoom:1; overflow:hidden; background:#FFFFFF; padding-bottom:20px;}
#s_con_right p{ font-size:12px; background:#d4d3d1; line-height:26px;  padding-left:15px;}
#s_con_right p span{ background:url(../images/jsjkxyjs_s_left_bg_03.png) no-repeat 10px 2px; padding-left:20px;}

#s_con{ zoom:1; overflow:hidden; background:#FFFFFF;}
#s_con p{ font-size:12px; background:#d4d3d1; line-height:26px;  padding-left:15px;}
#s_con p span{ background:url(../images/jsjkxyjs_s_left_bg_03.png) no-repeat 10px 2px; padding-left:20px;}

#right_con{padding:20px 25px; padding-bottom:20px; padding-right:45px;}
#right_con h2 { line-height:40px; text-align:center; }
#right_con h2 span { color:#323232; font-size:16px; font-weight:bold; }
#right_con h3{ text-align:center; font-size:16px; line-height:30px; height:30px; color:#333; font-weight:bold;}
#right_con img{ float:right; width:245px; height:160px; padding:2px; border:solid 1px #CCCCCC; margin:10px;} 
#right_con p{ background:#FFFFFF; line-height:21px; margin-top:20px; color:#676767; text-indent:2em;}





/***************************2-1(1)ҳ***********************************************/
#s1_right_con{ padding:20px 20px 0px 25px;float:left; display:inline; width:500px; }
#s1_right_con h3{ font-weight:bold; text-align:center; font-size:16px; line-height:30px; height:30px; color:#333;}
#s1_right_con img{ float:right; width:245px; height:160px; padding:2px; border:solid 1px #CCCCCC; margin:10px;} 
#s1_right_con p{ background:#FFFFFF; line-height:21px; margin-top:20px; color:#676767; text-indent:2em;}

#right_con_box{ width:188px; border:solid 1px #ccc; zoom:1; overflow:hidden; background:#f8f8f8; padding-bottom:15px; margin-top:12px;}
#right_con_box h3{ background:url(../images/box_bg.jpg) no-repeat top left; line-height:22px; height:28px; font-size:14px; padding-left:15px; text-align:left; color:#FFFFFF; font-weight:normal;}
#right_con_box p{ background:#f8f8f8; text-indent:inherit; margin-top:15px; padding:0px 8px;}
#right_con_box p b{ font-weight:normal;text-indent:0; font-weight:normal; display:block;}
#right_con_box p b a{ color:#215970; background:none; }

/*****************************************2-2ҳ***********************************/
#s2_right_con{padding:5px 45px 20px 0px; zoom:1;overflow:hidden;}
#s2_right_con h1{ line-height:30px; height:30px; color:#333; font-size:22px; font-weight:bold; letter-spacing:1px; color:#555; padding-top:20px; padding-bottom:10px;}
#s2_right_con img{ float:left; width:147px; height:188px; padding:2px; border-top:none; border-left:solid 1px #f0f0f0; border-right:solid 1px #f0f0f0; border-bottom:solid 1px #a2a2a2; margin:15px 45px; margin-right:25px;} 
#s2_right_con p{ background:#FFFFFF; line-height:21px; padding:10px 0px; padding-left:45px;color:#676767; font-family:Arial, Helvetica, sans-serif;}
#s2_right_con li{ line-height:25px; height:25px; font-family:Arial, Helvetica, sans-serif; color:#666;}
#s2_right_con li a{ color:#666;}
#s2_right_con h4{ line-height:24px; height:24px; background:#efedf0; clear:both; margin-left:45px; font-size:12px; font-weight:bold; padding-left:10px;}

#right_con_2{padding:20px 25px; padding-bottom:10px; padding-right:45px;}
#right_con_2 p{ background:#FFFFFF; line-height:21px; color:#676767; text-indent:2em;}

/* box_list */
.box_list { text-align:left; overflow:hidden; padding:0 40px 20px; clear:both; }
.box_list h2 { line-height:60px; border-bottom:#ccc 1px dotted; }
.box_list h2 span { color:#323232; font-size:16px; font-weight:bold; }
.box_list ul { margin:10px auto; }
.box_list ul li { height:26px; line-height:26px; clear:left; background:url(../images/dot_gary.gif) 2px 12px no-repeat; }
.box_list ul li a { float:left; padding-left:10px; color:#454545; text-decoration:none; }
.box_list ul li a:hover { text-decoration:underline; }
.box_list ul li p { float:right; color:#676767;background:#FFFFFF; }

.box_list ul .list_event { background:#f8f8f8 url(../images/dot_gary.gif) 2px 12px no-repeat; }

/* box_right */
.box_right { width:758px; overflow:hidden; vertical-align:top; text-align:right; }


/* box_detail */
#detail_content{padding-top:10px;border-left:solid 1px #ddd; border-right:solid 1px #ddd;}
.box_detail { text-align:left; vertical-align:top; padding-bottom:20px; }
.box_detail h2 { line-height:80px; text-align:center; }
.box_detail h2 span { color:#323232; font-size:16px; font-weight:bold; }
.box_detail p { margin:0 40px; text-indent:24px; line-height:22px; color:#676767; margin-bottom:15px; }
.box_detail div img { margin:10px 40px 10px 10px; }


#c_right{ width:750px; float:left; border-left:solid 1px #a99f7c; zoom:1; overflow:hidden; background:#FFFFFF; padding-top:20px; }

/* pic_list */
.pic_list { padding:5px 0; height:150px; margin:5px 40px 15px; clear:both; overflow:hidden; }
.pic_list p { width:210px; float:left; margin-right:10px; margin-top:3px; }
.pic_list p img { padding:5px; border:#ccc 1px solid; }

.pic_list ul { margin:6px 0px 0px 270px; text-align:left; }
.pic_list ul h4 { height:28px; line-height:24px; font-weight:bold; padding-left:10px; }
.pic_list ul h4 a { color:#000; text-decoration:none; }
.pic_list ul h4 a:hover { color:#f00; }
.pic_list ul li { color:#555; line-height:18px; text-indent:24px; }



/* pic_list2 */
.pic_list2 { padding:5px 0; height:150px; margin:15px 40px 15px; clear:both; }
.pic_list2 p { width:220px; text-align:center; float:left; margin:5px 1px 0; display:inline; zoom:1; }
.pic_list2 p a { line-height:24px; color:#454545; }
.pic_list2 p a:hover { text-decoration:underline; }