/* product-error/1.0.0 error.reco.css Date:2015-01-06 15:48:02 */
#reco4u.m{border:1px solid #DDD}#reco4u .mt h3{background:#f7f7f7;height:31px;font:normal normal 14px/31px "microsoft yahei";padding-left:10px}#reco4u li{width:160px;padding:10px 18px}#reco4u li .p-name{line-height:1.5em;height:3em;overflow:hidden}#reco4u li .p-comm a{color:#005EA7}
