@charset "UTF-8";








.TabbedPanels {
 margin: 0px;
 padding: 0px;
 float: left;
 clear: none;
 width: 1000px; 
}


.TabbedPanelsTabGroup {
 margin: 0px;
 padding: 0px;
}


.TabbedPanelsTab {
 position: relative;
 float: left;
 list-style: none;
 -moz-user-select: none;
 -khtml-user-select: none;
 cursor: pointer;
 text-align: center;
 width: 200px;
 padding-top: 13px;
 font-family: "����";
 font-size: 14px;
 font-weight: bold;
 color: #FFFFFF;
 height: 30px;
}


.TabbedPanelsTabHover {

}


.TabbedPanelsTabSelected {

}


.TabbedPanelsTab a {
 color: black;
 text-decoration: none;
}


.TabbedPanelsContentGroup {
 clear: both;
}


.TabbedPanelsContent {
 height: 234px;
 width: 1000px;
 background-image: url(../images/i_r15_c18.jpg);
 background-repeat: no-repeat;
 background-position: right center;
}


.TabbedPanelsContentVisible {
}




.VTabbedPanels .TabbedPanelsTabGroup {
 float: left;
 width: 10em;
 height: 20em;
 background-color: #EEE;
 position: relative;
 border-top: solid 1px #999;
 border-right: solid 1px #999;
 border-left: solid 1px #CCC;
 border-bottom: solid 1px #CCC;
}


.VTabbedPanels .TabbedPanelsTab {
 float: none;
 margin: 0px;
 border-top: none;
 border-left: none;
 border-right: none;
}


.VTabbedPanels .TabbedPanelsTabSelected {
 background-color: #EEE;
 border-bottom: solid 1px #999;
}


.VTabbedPanels .TabbedPanelsContentGroup {
 clear: none;
 float: left;
 padding: 0px;
 width: 30em;
 height: 20em;
}
 
 
 
* html .TabbedPanels {
 margin: 0px;
 padding: 0px;
 float: left;
 clear: none;
 width: 1000px; 
}


* html .TabbedPanelsTabGroup {
 margin: 0px;
 padding: 0px;
}


* html .TabbedPanelsTab {
 position: relative;
 float: left;
 list-style: none;
 -moz-user-select: none;
 -khtml-user-select: none;
 cursor: pointer;
 text-align: center;
 width: 200px;
 padding-top: 13px;
 font-family: "����";
 font-size: 14px;
 font-weight: bold;
 color: #FFFFFF;
 height: 30px;
}


* html .TabbedPanelsTabHover {

}


* html .TabbedPanelsTabSelected {

}


* html .TabbedPanelsTab a {
 color: black;
 text-decoration: none;
}


* html .TabbedPanelsContentGroup {
 clear: both;
}


* html .TabbedPanelsContent {
 height: 234px;
 width: 1000px;
 background-image: url(../images/i_r15_c18.jpg);
 background-repeat: no-repeat;
 background-position: right center;
}


* html .TabbedPanelsContentVisible {
}




* html .VTabbedPanels .TabbedPanelsTabGroup {
 float: left;
 width: 10em;
 height: 20em;
 background-color: #EEE;
 position: relative;
 border-top: solid 1px #999;
 border-right: solid 1px #999;
 border-left: solid 1px #CCC;
 border-bottom: solid 1px #CCC;
}


* html .VTabbedPanels .TabbedPanelsTab {
 float: none;
 margin: 0px;
 border-top: none;
 border-left: none;
 border-right: none;
}


* html .VTabbedPanels .TabbedPanelsTabSelected {
 background-color: #EEE;
 border-bottom: solid 1px #999;
}


* html .VTabbedPanels .TabbedPanelsContentGroup {
 clear: none;
 float: left;
 padding: 0px;
 width: 30em;
 height: 20em;
}
 
*+html .TabbedPanels {
 margin: 0px;
 padding: 0px;
 float: left;
 clear: none;
 width: 1000px; 
}


*+html .TabbedPanelsTabGroup {
 margin: 0px;
 padding: 0px;
}


*+html .TabbedPanelsTab {
 position: relative;
 float: left;
 list-style: none;
 -moz-user-select: none;
 -khtml-user-select: none;
 cursor: pointer;
 text-align: center;
 width: 200px;
 padding-top: 13px;
 font-family: "����";
 font-size: 14px;
 font-weight: bold;
 color: #FFFFFF;
 height: 30px;
}


*+html .TabbedPanelsTabHover {

}


*+html .TabbedPanelsTabSelected {

}


*+html .TabbedPanelsTab a {
 color: black;
 text-decoration: none;
}


*+html .TabbedPanelsContentGroup {
 clear: both;
}


*+html .TabbedPanelsContent {
 height: 234px;
 width: 1000px;
 background-image: url(../images/i_r15_c18.jpg);
 background-repeat: no-repeat;
 background-position: right center;
}


*+html .TabbedPanelsContentVisible {
}




*+html .VTabbedPanels .TabbedPanelsTabGroup {
 float: left;
 width: 10em;
 height: 20em;
 background-color: #EEE;
 position: relative;
 border-top: solid 1px #999;
 border-right: solid 1px #999;
 border-left: solid 1px #CCC;
 border-bottom: solid 1px #CCC;
}


*+html .VTabbedPanels .TabbedPanelsTab {
 float: none;
 margin: 0px;
 border-top: none;
 border-left: none;
 border-right: none;
}


*+html .VTabbedPanels .TabbedPanelsTabSelected {
 background-color: #EEE;
 border-bottom: solid 1px #999;
}


*+html .VTabbedPanels .TabbedPanelsContentGroup {
 clear: none;
 float: left;
 padding: 0px;
 width: 30em;
 height: 20em;
}